.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
:fullscreen, ::backdrop {
    background-color: rgba(255,255,255,0);
}
body {
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: "Iceland", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.25pc;
}
.pauseButton {
    position: absolute;
}
.stepButton {
    position: absolute;
}
#settingsBox, #rulesetBox, #helpBox {
    width: 18%;
    float: right;
    margin: 2%;
    border: 5px solid darkblue;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    right: 5%;
    background-image: linear-gradient(45deg, #bfbf2a40 25%, #87782040 25%, #87782040 50%, #bfbf2a40 50%, #bfbf2a40 75%, #87782040 75%, #87782040 100%);
    background-size: 56.57px 56.57px;
    color: white;
}
#settingsBox {
    right: 22%;
}
#helpBox {
    left: 5%;
}
input[type="button"] {
    margin: 1%;
    width: 98%;
    height: 10%;
    font-size: large;
    background-color: lightgreen;
    opacity: 0.8;
    transition-duration: 0.35s;
    border-radius: 5px;
        font-family: "Iceland", sans-serif;
  font-weight: 800;
  font-style: normal;
}
input[type="button"]:hover {
    background-color: green;
    opacity: 1;
}
#settingsBoxHeader, #rulesetBoxHeader, #helpBoxHeader {
    width: 100%;
    height: 20px;
    background-color: darkblue;
    cursor: move;
    color: white;
    font-size: large;
}
#simSpeed, #mutRate {
    width: 35%;
    background-color: transparent;
}
#locationContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 5px solid yellow;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    box-sizing: border-box;

}
.locBox {
    box-sizing: border-box;
    margin: 3%;
    z-index: 100;
    cursor: pointer;
}
#l2_2 {
    border: 5px solid darkgreen;
}
#conditionContainer {
    border: 5px solid yellow;
    max-height: 20vh;
    overflow-y: scroll;
}
.conditionBox {
    display: flex;
    box-sizing: border-box;
    padding: 1%;
}
.conditionNum {
    width: 15%;
    border-right: 8px solid yellowgreen;
    text-align: center;
    padding: 2%;
}
.alive, .dead {
    width: 85%;
    text-align: center;
    padding: 2%;
    cursor: pointer;
}
.alive {
    background-color: white;
    color: black;
}
.dead {
    background-color: black;
    color: white;
}
.modeHelp {
    border: 3px solid yellow;
    text-align: justify;
    padding: 3%;
    margin-bottom: 1%;
}
#fpsText {
    margin: 2%;
    color: green;
    text-decoration: double;
    position: absolute;
}
.wrapper {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0a679d;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
}