html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background-color: aqua;
    width: 100%;
    height: 100%;
    overflow: hidden;
        padding: 0;
    margin: 0;
}
.pauseButton {
    position: absolute;
}
.stepButton {
    position: absolute;
}
#settingsBox, #rulesetBox, #helpBox {
    width: 15%;
    float: right;
    margin: 2%;
    border: 5px solid darkblue;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    right: 5%;
}
#settingsBox {
    right: 22%;
}
#helpBox {
    left: 5%;
}
input[type="button"] {
    margin: 1%;
    width: 98%;
    height: 10%;
    font-size: large;
    background-color: lightgreen;
    opacity: 0.8;
    transition-duration: 0.35s;
    border-radius: 5px;
}
input[type="button"]:hover {
    background-color: green;
    opacity: 1;
}
#settingsBoxHeader, #rulesetBoxHeader, #helpBoxHeader {
    width: 100%;
    height: 20px;
    background-color: darkblue;
    cursor: move;
    color: white;
    font-size: large;
}
#simSpeed, #mutRate {
    width: 35%;
    background-color: transparent;
}
#locationContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 5px solid yellow;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    box-sizing: border-box;

}
.locBox {
    box-sizing: border-box;
    margin: 3%;
    z-index: 100;
    cursor: pointer;
}
#l2_2 {
    border: 5px solid darkgreen;
}
#conditionContainer {
    border: 5px solid yellow;
    max-height: 20vh;
    overflow-y: scroll;
}
.conditionBox {
    display: flex;
    box-sizing: border-box;
    padding: 1%;
}
.conditionNum {
    width: 15%;
    border-right: 8px solid yellowgreen;
    text-align: center;
    padding: 2%;
}
.alive, .dead {
    width: 85%;
    text-align: center;
    padding: 2%;
    cursor: pointer;
}
.alive {
    background-color: white;
    color: black;
}
.dead {
    background-color: black;
    color: white;
}
.modeHelp {
    border: 3px solid yellow;
}
#fpsText {
    margin: 2%;
    color: green;
    text-decoration: double;
    position: absolute;
}